<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido!</h1>
    <h3>Online Data</h3>
    <a href="/online">Pie chart</a>
    <h3>Offline Data</h3>
    <a href="/offline">Bar chart</a>
    <h3>Lambda Data</h3>
    <div>
        <a href="/lambda_pie">Pie chart</a>
    </div>
    <div>
    <a href="/lambda_bar">Bar chart</a>
    </div>
    <div>
    <a href="/lambda_bubble">Bubbles chart</a>
    </div>
    <div>
        <a href="/lambda_live">Live chart</a>
    </div>

</body>
</html>